 body {
    background-color: papayawhip;
    color: palevioletred;
}

.heading {
    font-size: 5rem;
}

.content {
    max-width: 720px;
    margin: auto;
}

.post-paragraph {
    font-size: 1.2rem;
    line-height: 1.5rem;
}
